<table id="userTable" class="table table-striped table-bordered" style="width:100%" namefile="Usuarios">
    <thead>
        <tr>
            <th> Username </th>
            <th class="text-center"> Roles asignados </th>
            <th class="text-center"> Asignar rol </th>
        </tr>
    </thead>
    <tbody> 
        {% for user in usuariosRol %}
        <tr>
            <td>{{user.username}}</td>
            <td class="text-center">
            {% for rol in user.roles %}
                {% if rol.role == "ROLE_ADMIN" or rol.role == "ROLE_ADMIN_SIS" or rol.role == "ROLE_ENVIO_3°" or rol.role == "ROLE_REINGRESO_3°" or rol.role == "ROLE_RECEPCION_3°" or rol.role == "ROLE_DEVOLUCION_3°" or rol.role == "ROLE_CONSULTA" %}
                    {{rol.role}} <span class="text-danger">|</span>
                {% endif %}
            {% endfor %}
            </td>
            <td class="text-center">
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_ENVIO_3°" })}}"      class="m-1 btn btn-sm btn-secondary text-white">Envío</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_RECEPCION_3°" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Recepción</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_DEVOLUCION_3°" })}}" class="m-1 btn btn-sm btn-secondary text-white">Devolución</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_REINGRESO_3°" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Reingreso</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_CONSULTA" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Consulta</a>
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ADMIN_SIS") %}
                    <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_ADMIN_SIS" })}}"  class="m-1 btn btn-sm btn-primary text-white">Admin Sis</a>
                    <a href="{{path('deleteRoles', {'username': user.username})}}"  class="m-1 btn btn-sm btn-danger text-white">Revocar roles</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% for user in usuariosSinRol %}
        <tr>
            <td>{{user.username}}</td>
            <td class="text-center"><p style="font-size: 14px;">No tiene ningún rol asignado</p></td>
            <td class="text-center">
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_ENVIO_3°" })}}"      class="m-1 btn btn-sm btn-secondary text-white">Envío</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_RECEPCION_3°" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Recepción</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_DEVOLUCION_3°" })}}" class="m-1 btn btn-sm btn-secondary text-white">Devolución</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_REINGRESO_3°" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Reingreso</a>
                <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_CONSULTA" })}}"  class="m-1 btn btn-sm btn-secondary text-white">Consulta</a>
                {% if is_granted("ROLE_ADMIN_SIS") or is_granted("ROLE_ADMIN") %}
                    <a href="{{path('setRole', {'username': user.username, 'rol': "ROLE_ADMIN_SIS" })}}"  class="m-1 btn btn-sm btn-primary text-white">Admin Sis</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>       
</table>
