<!-- PAGE SIZE -->
<div class="col-md-3 pull-left">
    <div class="pagination form-inline ">
      <select class = "form-control"  onchange="window.location = this.value" >
          <option value='{{ path('viewValvulas', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show')  == 10 %}  selected {% endif %}>10</option>
          <option value='{{ path('viewValvulas', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show')  == 20 %}  selected {% endif %}>20</option>
          <option value='{{ path('viewValvulas', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show')  == 50 %}  selected {% endif %}>50</option>
          <option value='{{ path('viewValvulas', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
          <option value='{{ path('viewValvulas', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
      </select>
    </div>
</div>

<!-- END PAGE SIZE -->

<div class="col-md-6"></div>

<!-- FILTER BUTTON -->
<div class="col-md-3">
    <div class="float-right">
    <a class="btn btn-primary h3 pull-right text-white mt-1" onclick="backPage({{tipoCaracteristica}})" style="margin-bottom:10px"><i class="fas fa-arrow-left"></i> Volver</a>
    <a class="btn btn-secondary text-white dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">Filtro<span class="caret"></span></a>	
    </div>	
</div>
<!-- END FILTER BUTTON -->

<!-- FORM ERRORS -->
<div class="col-md-12">
    {%- if form_errors(filterForm) %}
    <div class="alert alert-block alert-error fade in form-errors">
        {{ form_errors(filterForm) }}
    </div>
    {% endif %}
</div>
<!-- FORM ERRORS -->