<!-- FILTERING -->
<div class="col-md-12"> 
    <div  id="filters" class="collapse"> 
        <form class="card pl-3 pr-3 pt-2 bg-light mb-3" action="{{ path('viewValvulas') }}" method="get">
        <div class="row">
            <div class="col-md-2">{{ form_row(filterForm.caracteristica) }}</div>
            <div class="col-md-2">{{ form_row(filterForm.codDesvio) }}</div>
            <div class="col-md-2">{{ form_row(filterForm.nroPartida) }}</div>
            <div class="col-md-2">{{ form_row(filterForm.aRetrabajar) }}</div>
            <div class="col-md-2">{{ form_row(filterForm.codDeposito) }}</div>
            {# INICIO Render manual date range#}
            <div id="fecha" class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fecha_left_date">Armado desde</label>
                    <input type="date" id="fecha_left_date" name="fecha[left_date]" class="form-control" value="{{ filterForm.fecha.children.left_date.vars.value}}" />
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fecha_right_date">Armado hasta</label>
                    <input type="date" id="fecha_right_date" name="fecha[right_date]" class="form-control" value="{{ filterForm.fecha.children.right_date.vars.value}}"/>
                </div>
                </div>
            </div>
            </div> 
            {% do filterForm.fecha.setRendered %}
            {# FIN Render manual date range#}
            <div class="col-md-6">
            {{ form_rest(filterForm) }}
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter"><i class="fas fa-filter"></i> Filtrar</button>
                    <button type="submit" class="btn btn-light" name="filter_action" value="reset"><i class="fas fa-minus"></i> Reset</button>
                </div>
            </div>
        </div>

        </form>
    </div>
</div>
<!-- END FILTERING -->