
{# <div class="col-md-12"> 
    <div  id="filters" class="collapse"> 
        <form class="card pl-3 pr-3 pt-2 bg-light mb-3" action="{{ path('controlStock') }}" method="get">
            <div class="row">
                <div class="col-md-3">{{ form_row(filterForm.codArticulo) }}</div>
                <div class="col-md-6">
                {{ form_rest(filterForm) }}
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning" name="filter_action" value="filter"><i class="fas fa-filter"></i> Filtrar</button>
                        <button type="submit" class="btn btn-light" name="filter_action" value="reset"><i class="fas fa-minus"></i> Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> #}
{# <div class="col-md-6">
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}

        <div class="input-group h3">

            {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Buscar por nombre...'} }) }}  
            {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-buscar'} }) }} 

        </div>
    {{ form_end(formulario) }}
</div> #}
