{% extends 'base.html.twig' %}

{% block body %}

<div class="page">
 
  <!-- TABLE  -->

  {% include 'controlStock/_table.html.twig' with {'valvulas': valvulas } %}

  <!-- END TABLE -->

  <!-- FOOTER TABLE  -->

  {% include 'controlStock/_footerTable.html.twig'  %}

  <!-- END FOOTER TABLE -->

</div>
<div id="loading"></div>


{% endblock %}

{% block javascript %}
  {{ parent()}}
  <script>
    
  </script>
  <script src="{{ asset('js/dataTableStock.js') }}"></script>
  <script src="{{ asset('js/dataTableBtn.js') }}"></script>
  <script src="{{ asset('js/dataTableBtnHtml.js') }}"></script>
  <script src="{{ asset('js/alignBtnDataTable.js') }}"></script>
  <script src="{{ asset('js/loadingStock.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
{% endblock %} 