<!-- Modal -->
<div class="modal fade bd-example-modal-lg-envio modal-reset" tabindex="-1" role="dialog" id="modalClose" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <form action="{{path('envioTercero')}}" method="POST">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{tipo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 ">
                        <h6> N° Registro: </h6>
                        <input class="form-control mt-1 d-inline" type="text" value="{{nroRegistro[1]}}" name="Valvula[nroRegistro]" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 ">
                        <h6> Fecha: </h6>
                        <input class="form-control mt-1 fechaActual" type="date" name="Valvula[fecha]" required>
                    </div>
                </div>
                <br>  
                <h6> De: </h6>
                <div class="row">
                    <div class="col-md-2">
                        <input class="form-control mt-1" type="text" id="codDeposito_1" name="Valvula[codDeposito]" onfocusout="getDeposito('envio')" required>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control mt-1" type="text" id="descripcionDepo_1"  readonly>
                    </div>
                </div>
                <br>
                <h6> N° Partida: </h6>
                <div class="row">
                    <div class="col-md-2">
                        <input class="form-control mt-1" type="text" value="0" name="Valvula[codDesvio]" id="codDesvio_1" required>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control mt-1" type="text" name="Valvula[nroPartida]" id="nroPartida_1" onfocusout="getValvula('envio')" required>
                    </div>
                    {# Este se muestra cuando se edita
                    <div class="col-md-2">
                        <input class="form-control mt-1" type="text" name="Valvula[]" readonly>
                    </div> #}
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 ">
                        <h6> Válvula: </h6>
                        <input class="form-control mt-1" type="text" name="Valvula[valvula]" id="valvula_1" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h6> Cantidad: </h6>
                        <input class="form-control mt-1" type="number" name="Valvula[cantidad]" min="1" max="99999" required>
                    </div>
                    
                    <div class="col-md-4 text-center">
                        <h6> P.T.T Terminada </h6>
                        <input class="mt-2" type="checkbox"name="Valvula[ppt]" value="1">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5 text-center">
                        <h6> Sin terminado de punta (Op. 180): </h6>
                        <input class="" type="checkbox"name="Valvula[sinPunta]" value="1">
                    </div>
                    <div class="col-md-6 text-center">
                        <h6> Válvulas para retrabajar </h6>
                        <input class="" type="checkbox"name="Valvula[retrabajar]" value="1">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h6> Observaciones: </h6>
                        <input class="form-control mt-1" type="text" name="Valvula[observaciones]" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h6> Tipo: </h6>
                        <input class="form-control mt-1" type="text" value="{{tipo}}" name="Valvula[tipo]" readonly>
                    </div>
                </div>
                <br>
                <h6> A: </h6>
                <div class="row">
                    <div class="col-md-2">
                        <input class="form-control mt-1" type="text" name="Valvula[codProveedor]" id="codProveedor_1" onfocusout="getProveedor('envio')" value="" required>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control mt-1" id="descripcionProv_1" type="text" readonly>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h6> Para: </h6>
                        <input class="form-control mt-1 para" type="text"  name="Valvula[para]" value=""  readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        
    </div>
    
    </form>
</div>
<script src="{{asset('js/ajaxModals.js')}}"></script>