<body> 
    <div> 
        <h2 style="color:#0F9FA8;text-align:center;">{{titulo}}</h2> 
        <hr> 
        <div>
            <b>- VALVULA:</b><span>&nbsp;{{valvula}}.</span><br>
            <b>- PTT:</b><span>&nbsp;{{ptt}}.</span><br>
            <b>- CANTIDAD:</b><span>&nbsp;{{cantidad}} pzs.</span><br>
            <b>- FECHA:</b><span>&nbsp;{{fecha|date("d/m/Y H:i")}}</span><br>
        </div>
    </div> 
    <br>
    <div>
        <h6 style="text-align:center;">No responder a este email</h6>
    </div>
</body> 